# Datetime

Its the standard library module datetime. It follows Gregorian calendar.
Date type contains year, month,day and the time data type contains hour, minute, second, microsecond.
datetime contains both. 
Its immutable data type.

In [1]:
import datetime

In [2]:
datetime.date(2014,1,6)

datetime.date(2014, 1, 6)

In [3]:
datetime.date(year=2014,month=1,day=6)

datetime.date(2014, 1, 6)

In [4]:
# Each value is int and month values are 1 based.
datetime.date.today()

datetime.date(2019, 7, 5)

In [5]:
datetime.date.fromtimestamp(1000000000)

datetime.date(2001, 9, 9)

In [6]:
datetime.date.fromordinal(720669)

datetime.date(1974, 2, 15)

In [7]:
d = datetime.date.today()

In [8]:
d.year

2019

In [9]:
d.month

7

In [10]:
d.day

5

In [12]:
d.weekday() #It returns from monday to sunday 
            # in zero based indexing

4

In [13]:
d.isoweekday() #it returns from monday 1 based
                # indexing

5

In [14]:
d.isoformat()

'2019-07-05'

In [18]:
# strftime(): It reads the string-format-time
print(d.strftime('%A %d %B %Y'))
'''
A - Day of the month
d - date 
B - month
Y - Year
'''

Friday 05 July 2019

'\nA - Day of the month\nd - date \nB - month\nY - Year\n'

In [20]:
"the date is {:%A %d %B %Y}".format(d)
"""
use '-' like %-d to cut the leading 0 from date 
"""

"\nuse '-' like %-d to cut the leading 0 from date \n"

min and max of date - datetime.date.min or datetiem.date.max
Datetime.date.resolution : returns the difference between 2 subsequent date

In [21]:
# datetime.time(hour,minute,second,microsecond)
# hour arg is compulsory others are optional
t = datetime.time(10,32,45,2222)

In [22]:
t.hour

10

In [23]:
t.minute

32

In [24]:
t.second

45

In [25]:
# Here also min, max and resolution supported

## Datetime

In [27]:
from datetime import datetime as Datetime #but why?

In [28]:
d = Datetime(2003,4,5,14,33,22,1523)

In [29]:
# Datetime(year,month,day,hour,minute,second,
# microsecond) year,month and date are necessary
# and others are optional

In [31]:
Datetime.today()

datetime.datetime(2019, 7, 5, 21, 25, 5, 689892)

In [32]:
Datetime.now()

datetime.datetime(2019, 7, 5, 21, 25, 13, 991044)

In [33]:
Datetime.now() == Datetime.today()

False

In [34]:
# current coordinate time
Datetime.utcnow()

datetime.datetime(2019, 7, 5, 15, 56, 12, 820931)

In [35]:
Datetime.fromordinal(5)

datetime.datetime(1, 1, 5, 0, 0)

In [36]:
Datetime.fromtimestamp(363636)

datetime.datetime(1970, 1, 5, 10, 30, 36)

In [37]:
Datetime.utcfromtimestamp(12121212)

datetime.datetime(1970, 5, 21, 7, 0, 12)

In [38]:
import datetime
d = datetime.date.today()
t = datetime.time(8,15)
c = datetime.datetime.combine(d,t)
print(c)

2019-07-05 08:15:00

In [45]:
dt = datetime.datetime.strptime("Monday 6 January 2014, 12:12:31","%A %d %B %y, %H:%M:%S")

ValueError: time data 'Monday 6 January 2014, 12:12:31' does not match format '%A %d %B %y, %H:%M:%S'

### TimeDelta

The constructor accepts and sum 
* days
* seconds
* microseconds
* milliseconds
* minutes
* hours
* weeks

Instances store only
* days
* seconds
* microseconds

In [46]:
td = datetime.timedelta(weeks=1,minutes=2, milliseconds=50000)

In [47]:
td.days

7

In [48]:
td.microseconds

0

In [49]:
str(td)

'7 days, 0:02:50'

In [50]:
repr(td)

'datetime.timedelta(days=7, seconds=170)'

*Arithmetic with dattime*
------------------------

In [52]:
a = datetime.datetime(year=2014,month=5,day=8,hour=14,minute=22)
b = datetime.datetime(year=2014,month=3,day=14,hour=12,minute=9)

In [54]:
d = a-b

In [55]:
d

datetime.timedelta(days=55, seconds=7980)

In [56]:
d.total_seconds()

4759980.0

In [57]:
datetime.date.today() + datetime.timedelta(weeks=1)*3

datetime.date(2019, 7, 26)

In [3]:
# tzinfo
import datetime
cet = datetime.timezone(datetime.timedelta(hours=1),"CET")

dt = datetime,datetime(year=2014,month=1,day=7,hour=11,minute=30,tzinfo=cet)

TypeError: 'module' object is not callable