# Tuple

* heterogeneous sequence of arbitary objects. Delimited by (). 
* Items separated by commas.
* Element access with square bracket and zero based index.
* Iteration with for loop.
* concatenation with + operator.

In [1]:
tup = ('abc',123,3.4)

In [2]:
for item in tup:
    print(item)

abc
123
3.4

In [3]:
tup+(0,1.7)

('abc', 123, 3.4, 0, 1.7)

In [4]:
tup

('abc', 123, 3.4)

In [5]:
tup * 3

('abc', 123, 3.4, 'abc', 123, 3.4, 'abc', 123, 3.4)

* Tuples can contain any type of object. It can be nested.
* chain square brackets indexing to access inner elements.

In [6]:
''' Single number tuple. '''
k = 4,
l = (5,)

In [8]:
print(type(k))
print(type(l))

<class 'tuple'>
<class 'tuple'>

* Delimiting parentheses are optional for one or more elements.
* Tuples are useful for multiple return values
* Tuple unpacking allow us to destructure directly into named references.

In [9]:
# Tuple unpacking 
(a,(b,(c,d))) = (4,(3,(2,1)))
print("a = ",a)
print("b = ",b)
print("c = ",c)
print("d = ",d)

a =  4
b =  3
c =  2
d =  1

In [10]:
# Tuple constructor
tuple([1,2,3,4,5])
tuple('satya')

('s', 'a', 't', 'y', 'a')

In [11]:
# Membership operator - in and not in
s = tuple('satya')
't' in s

True

In [12]:
'a' not in s

False

 ## Methods